@{
    ViewData["Title"] = "Home Page";
}


<!--Title-->
<div class="title">
    <h1>The Joel Hilton Film Collection</h1>
</div>
<!--Picture-->
<div class="regular">
    <br />
    <h2>The greatest collection of movies the world has ever seen</h2>
    <h2>Brought to you by the great Joel Hilton (pictured below)</h2>
    <img src="~/joelhiltonheadshot.jpg"  width="400px"/>
    <br />
</div>