@{
    ViewData["Title"] = "Meet Joel";
}
<h1 class="title">@ViewData["Title"]</h1>

<div class="regular">
    <!--Quick Wits Comedy-->
    <h2>Comedy</h2>
    <p>Joel regularly performs at Quick Wits Comedy. Check it out <a href="https://www.qwcomedy.com/">here!</a></p>
    <!--Baconsale stuff-->
    <h2>Podcast</h2>
    <p>Check out Joel's podcast, "Baconsale" <a href="https://baconsale.com/">here!</a></p>
    <a href="https://baconsale.com/">
        <img src="~/baconsalekate.jpg" width="600px"/>
    </a>
    <br />
</div>


